<div class="container h-100" style="margin-top: 5rem;">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-md-9" method="post" action="/Login">
            <div class="AppForm shadow-lg">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <div class="AppFormLeft" style="width: 300px;">

                            <h1 class="mb-5">Login</h1>
                            <div class="form-group position-relative mb-4">
                                <input type="text"
                                    class="form-control border-top-0 border-right-0 border-left-0 rounded-0 shadow-none"
                                    id="username" placeholder="Email" name="Email">
                                <i class="fa fa-user-o"></i>
                            </div>
                            <div class="form-group position-relative mb-4">
                                <input type="password"
                                    class="form-control border-top-0 border-right-0 border-left-0 rounded-0 shadow-none"
                                    id="password" placeholder="Password" name="Password">
                                <i class="fa fa-key"></i>

                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <button class="btn btn-success btn-block shadow border-0 py-2 text-uppercase "
                                type="submit">
                                Login
                            </button>
                            <p class="text-center mt-5">
                                Don't have an account?
                                <span>
                                    <a class="text-primary" href="/signup">Create an account</a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div
                            class="AppFormRight position-relative d-flex justify-content-center flex-column align-items-center text-center p-5 text-white">
                            <h2 class="position-relative px-4 pb-3 mb-4">Welcome</h2>
                            <p>Lorem ipsuing elit. Molomos totam est voluptatum i omos totam est voluptatum i ure sit
                                consectetur ill</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>